body {
    text-align: center;
    background-color: rgb(208, 198, 245);
    font-family: Arial, sans-serif;
    margin: 0 auto;
}
#city {
    text-align: center;
}
#form {  
    text-align: center;
}
#enterAns {
    margin-bottom: 30px;
    background-color: rgb(231, 235, 222);
    text-align: center;
}
#checkAns {
    background-color: rgb(231, 235, 222);
}
